main{
    display: flex;
    flex-direction: row;
}
.center{
    text-align: center;
}
footer{
    margin-top: 50px;
    font-size: small;
}
header{
    margin-bottom: 20px;
}
@media (width > 640px) {
    .pad{
        flex-grow: 1;
    }
}
@media (width <= 640px) {
    main{
        flex-direction: column;
    }
    #album{
        margin: auto;
    }
    #controls{
        display: flex;
        flex-direction: column;
    }
    #buttons{
        display: flex;
        flex-direction: row;
    }
    #texts{
        display: grid;
        column-gap: 10px;
        grid-template-columns: max-content max-content 1fr;
    }
}

.gap{
    width: 10px;
}
#album{
    width: min(800px, 95%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    margin-bottom: 10px;
    @media (width <= 640px) {
        grid-template-columns: 1fr 1fr;
    }
}
.scene{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1px;
    row-gap: 1px;
}
.snippet{
    width: 100%;
    aspect-ratio: 1 / 1;
    align-content: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: clamp(12px, 4vw, 24px);
    text-shadow: 1px 1px 1px white,
    1px -1px 1px white,
    -1px -1px 1px white,
    -1px 1px 1px white;
    background-size: contain;
}
.common{
    background-color: rgb(153, 204, 255);
    background-image: url(common.png);
}
.rare{
    background-color: rgb(255, 204, 102);
    background-image: url(rare.png);
}
.epic{
    background-color: rgb(255, 153, 255);
    background-image: url(epic.png);
}
.legendary{
    background-color: rgb(255, 200, 255);
    background-image: url(legendary.png);
}
.obtained{
    background-color: rgb(100, 230, 100);
    background-image: url(obtained.png);
}
.selected{
}
#controls{
    min-width: 150px;
}
button.roll{
    display: block;
}